<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改参数</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap-4.6.1.min.js}"></script>
    <link th:href="@{/css/bootstrap-4.6.1.min.css}" rel="stylesheet">
</head>
<body>
<form th:action="@{/attr/alter}" method="post">
    <div class="container-fluid">
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">属性键id</div>
            </div>
            <input type="text" class="form-control" name="keyId" th:value="${spuAttrKey.keyId}" readonly>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">属性键名称</div>
            </div>
            <input type="text" class="form-control" name="keyName" th:value="${spuAttrKey.keyName}">
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">属性分类</div>
            </div>
            <select name="keyIssku" class="form-control">
                <option value="-1">选择属性</option>
                <option th:selected="${spuAttrKey.keyIssku==1}" value="1">规格属性</option>
                <option th:selected="${spuAttrKey.keyIssku==0}" value="0">筛选属性</option>
            </select>
        </div>
        <div class="input-group my-2">
            <div class="input-group-prepend">
                <div class="input-group-text">属性分类</div>
            </div>
            <select name="keyIshigh" class="form-control">
                <option value="-1">选择属性</option>
                <option th:selected="${spuAttrKey.keyIshigh==1}" value="1">高级属性</option>
                <option th:selected="${spuAttrKey.keyIshigh==0}" value="0">普通属性</option>
            </select>
        </div>
        <button type="button" class="btn btn-success my-2 add-role">+属性值</button>
        <div class="row role-list">
            <div class="col-6 d-flex role my-2 input-group" th:each="value:${spuAttrKey.attrValueList}">
                <div class="input-group-prepend">
                    <div class="input-group-text">属性值名称</div>
                </div>
                <input th:value="${value.valueName}" name="attrValueList[0].valueName" class="form-control select-value">
                <button type="button" class="btn btn-danger btn-del">-</button>
            </div>
        </div>
        <button type="button" class="btn btn-success my-2 add-brand">+分类</button>
        <div class="row brand-list">
            <div class="col-4 d-flex brand my-2 input-group" th:each="cateId:${integerList}">
                <div class="input-group-prepend">
                    <div class="input-group-text">分类</div>
                </div>
                <select name="idList" class="form-control select-brand">
                    <option value="-1">默认分类</option>
                    <option th:each="cate:${list}"
                            th:value="${cate.cateId}"
                            th:text="${cate.cateName}"
                            th:selected="${cate.cateId}==${cateId}"></option>
                </select>
                <button type="button" class="btn btn-danger btn-brand-del">-</button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary my-4">保存参数</button>
    </div>
</form>
<div style="height:100px"></div>
</body>

<script>
    //按添加分类按钮，新增分类下拉列表
    $(".add-brand").click(function(){
        let clone = $(".brand").last().clone(true)
        clone.appendTo(".brand-list")
    })

    //按下-按钮，减少员工角色选择下拉表
    $(".btn-brand-del").click(function(){
        $(this).parents(".brand").remove()
    })

    //按下-按钮，减少员工角色选择下拉表
    $(".btn-del").click(function(){
        if($(".role").length > 1){
            $(this).parents(".role").remove()
            resetIndex()
        }
    })

    //按添加角色按钮，新增员工角色下拉列表
    $(".add-role").click(function(){
        let clone = $(".role").last().clone(true)
        clone.appendTo(".role-list")

        resetIndex()
    })

    resetIndex()

    function resetIndex(){
        $(".role").each(function(index,item){
            $(this).find(".select-value").prop("name","attrValueList["+index+"].valueName")
        })
    }
</script>
</body>
</html>