<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atstudy.mapper.AdminRoleMapper">
    <insert id="batchInsert">
        insert into admin_role(admin_id,role_id) values
        <foreach collection="adminUpdateBo.roleList" item="role" separator=",">
            (#{adminUpdateBo.adminId},#{role.roleId})
        </foreach>
    </insert>
    <delete id="deleteByAdminId">
        delete from admin_role where admin_id = #{id}
    </delete>
    <delete id="deleteBatchAdminIds">
        delete from admin_role where admin_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>