<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atstudy.mapper.RolePermissionMapper">
    <insert id="batchInsertRolePermission">
        insert into role_permission (role_id,permission_id) values
        <foreach collection="idList" item="id" separator=",">
            (#{roleId},#{id})
        </foreach>
    </insert>
    <delete id="batchDeleteRolePermission">
        delete from role_permission where role_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>