<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atstudy.mapper.SpuMapper">
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="spu.spuId">
        insert into spu
        (
            spu_name,
            spu_title,
            spu_introduction,
            spu_status,
            createtime,
            updatetime,
            spu_brand_id
        )
        values
        (
            #{spu.spuName},
            #{spu.spuTitle},
            #{spu.spuIntroduction},
            #{spu.spuStatus},
            #{spu.createtime},
            #{spu.updatetime},
            #{spu.spuBrandId}
        )
    </insert>
    <insert id="insertCateSpu">
        insert into cate_spu (spu_id,cate_id) values
        <foreach collection="cateList" item="category" separator=",">
            (#{spuId},#{category.cateId})
        </foreach>
    </insert>
    <update id="updateOne">
        update spu set
            spu_name = #{spu.spuName},
            spu_title = #{spu.spuTitle},
            spu_introduction = #{spu.spuIntroduction},
            spu_status = #{spu.spuStatus},
            updatetime = #{spu.updatetime},
            spu_brand_id = #{spu.spuBrandId}
        where
            spu_id = #{spu.spuId}
    </update>
    <delete id="deleteCateSpuBySpuId">
        delete from cate_spu where spu_id = #{spuId}
    </delete>
    <delete id="deleteBySpuId">
        delete from spu where spu_id = #{spuId}
    </delete>
    <delete id="deleteBatchSpuIds">
        delete from spu where spu_id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteBatchCateSpuIds">
        delete from cate_spu where spu_id in
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <select id="listBySearchBo" resultMap="Spu">
        select
            distinct a.*
        from
            spu a
        join
            cate_spu b
        on
            a.spu_id = b.spu_id
        <where>
            <if test="spuSearchBo.spuId != null">
                a.spu_id = #{spuSearchBo.spuId}
            </if>
            <if test="spuSearchBo.spuName != null and spuSearchBo.spuName.length > 0">
                and a.spu_name like '%${spuSearchBo.spuName}%'
            </if>
            <if test="spuSearchBo.spuStatus != null and spuSearchBo.spuStatus != -1">
                and a.spu_status = #{spuSearchBo.spuStatus}
            </if>
            <if test="spuSearchBo.spuBrandId != null and spuSearchBo.spuBrandId.length > 0 and spuSearchBo.spuBrandId != '-1'">
                and a.spu_brand_id = #{spuSearchBo.spuBrandId}
            </if>
            <if test="spuSearchBo.cateId != null and spuSearchBo.cateId != -1">
                and b.cate_id = #{spuSearchBo.cateId}
            </if>
        </where>
        limit
            #{pageBo.startIndex},#{pageBo.pageSize}
    </select>
    <select id="countBySearchBo" resultType="java.lang.Long">
        select
            count(distinct a.spu_id)
        from
            spu a
        join
            cate_spu b
        on
            a.spu_id = b.spu_id
        <where>
            <if test="spuSearchBo.spuId != null">
                a.spu_id = #{spuSearchBo.spuId}
            </if>
            <if test="spuSearchBo.spuName != null and spuSearchBo.spuName.length > 0">
                and a.spu_name like '%${spuSearchBo.spuName}%'
            </if>
            <if test="spuSearchBo.spuStatus != null and spuSearchBo.spuStatus != -1">
                and a.spu_status = #{spuSearchBo.spuStatus}
            </if>
            <if test="spuSearchBo.spuBrandId != null and spuSearchBo.spuBrandId.length > 0 and spuSearchBo.spuBrandId != '-1'">
                and a.spu_brand_id = #{spuSearchBo.spuBrandId}
            </if>
            <if test="spuSearchBo.cateId != null and spuSearchBo.cateId != -1">
                and b.cate_id = #{spuSearchBo.cateId}
            </if>
        </where>
    </select>
    <select id="selectById" resultType="com.atstudy.pojo.Spu">
        select * from spu where spu_id = #{spuId}
    </select>
    <select id="listCateIdBySpuId" resultType="java.lang.Integer">
        select cate_id from cate_spu where spu_id = #{spuId}
    </select>
    <select id="list" resultType="com.atstudy.pojo.Spu">
        select * from spu
    </select>

    <resultMap id="Spu" type="com.atstudy.pojo.Spu">
        <result column="spu_id" property="spuId"/>
        <result column="spu_name" property="spuName"/>
        <result column="spu_title" property="spuTitle"/>
        <result column="spu_introduction" property="spuIntroduction"/>
        <result column="spu_unit" property="spuUnit"/>
        <result column="spu_status" property="spuStatus"/>
        <result column="createtime" property="createtime"/>
        <result column="updatetime" property="updatetime"/>
        <result column="spu_brand_id" property="spuBrandId"/>
        <association property="brand" column="spu_brand_id"
                     javaType="com.atstudy.pojo.Brand"
                     select="com.atstudy.mapper.BrandMapper.selectByBrandId"/>
    </resultMap>
</mapper>